$light-green: #e5f2d0;
$medium-green: #c2dea0;
$green: #30832f;
$grey: #f9f9f9;
$white: #fff;
$black: #171c1f;

$brand-color: $green;
$primary-color: $light-green;
$secondary-color: $grey;
$terciary-color: $white;

$text-color: $black;